<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Shortener and Qr Code Generator</title>

    <link rel="stylesheet" href="styles.css">
</head>
<body>
    
    <%  if (locals) { %>

        <h1 class="magic"> Magic! </h1>

    <div class="container result-container">
        
        <div class="short-url-container">
            <p class="short-subtitle">Here is your URL shortened</p>
            <input type="text" id="final-url" class="short-url" value="<%- shortUrl %>" readonly>
            
            <img id="copy-icon" class="copy-img" src="/images/copy.png" width="50px" height="50px" alt="copy to clipboard">
            <legend id="legend" class="legend">copy to clipboard</legend>
            <p id="copy-message" class="copy-message"></p>
        </div>

        <div class="qr-code-container">
            <h2 class="qr-code-title">QR Code for your Url</h2>

            <img class="img" src=" <%- qrCodeUrl %> " alt="qrCode">

        </div>

        <form action="/try-again" method="get">
            <button class="btn try-again-btn">Create another one</button>
        </form>

    </div>

    <% } else { %>
        <h1>Error 404 . Content not found</h1>
        <button id="try-again-btn" class="btn" formaction="/try-again" type="submit">Try again</button>
    <% } %>

    
<script>
    // Copy shortened Url to clipboard
    const copy = document.getElementById("copy-icon");
    copy.addEventListener("click", copyToClipboard);

    function copyToClipboard(){
        let copyText = document.getElementById("final-url");

        //Select the text field
        copyText.select();
        copyText.setSelectionRange(0, 99999); // For mobile devices

        // Try to copy the text on the textfield
        try {
            navigator.clipboard.writeText(copyText.value);
            showCopyMessage(true); // If copy was successful

        } catch (error) {
            showCopyMessage(false);
        };       
    }

    function showCopyMessage(success){
        let copyMessageElement = document.getElementById("copy-message");
        let legendElement = document.getElementById("legend");

        if(success){

            copyMessageElement.style.color = "green";
            copyMessageElement.textContent = "Copied!";
            legendElement.style.display = "none";
            
        } else {            
            copyMessageElement.style.color = "red";
            copyMessageElement.textContent = "Failed to Copy";
            legendElement.style.display = "none";
        };

        copyMessageElement.style.display = "block";

        // Remove copy Message after 3 seconds
        setTimeout(() => {
            copyMessageElement.style.display = "none";
            legendElement.style.display = "block";

        }, 3000);
    }
</script>

</body>
</html>